---
import { Image } from "@astrojs/image/components";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Layout from "@layouts/Layout.astro";
import { getFormattedDate } from "@utils/all";
import { log } from "astro/dist/core/logger/core";

// Use Astro.glob() to fetch all posts, and then sort them by date.
// const posts = (await Astro.glob("./blog/*.{md,mdx}")).sort(
//   (a, b) =>
//     new Date(b.frontmatter.publishDate).valueOf() -
//     new Date(a.frontmatter.publishDate).valueOf()
// );
// console.log(posts[0].frontmatter.image);

const posts = await Astro.glob("../../notes/blog/**/*.{md,mdx}");
const tags = [...new Set(posts.map((post) => post.frontmatter.tags).flat())];
console.log("read posts: ",posts.length);
console.log("read posts: ",posts[0].file);
console.log("read tags: ",tags);

const cs = ["red","orange","amber", "yellow", "lime"];
const ns = [400,500,600];
const tag_cs = [...cs.map((c) => ns.map((n)=> new Object ({tc:"text-"+c+"-"+(n+300), bc:"bg-"+c+"-"+n})).flat()).flat()];
console.log("read tags color: ",tag_cs);

---

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Yee Blog</Fragment>
      <Fragment slot="desc"
        >We write about building startups and thoughts going on our mind.</Fragment
      >
    </Sectionhead>
    
    <div class="my-4 px-1 max-w-4xl mx-auto flex flex-wrap items-center justify-center space-x-3 space-y-2">
      {
        tags.map((tag,index) => (
        <span class={"inline-block whitespace-nowrap rounded-full "+tag_cs[index%tag_cs.length].bc+" px-[0.65em] pb-[0.25em] pt-[0.35em] text-center align-baseline text-[0.75em] font-bold leading-none "+tag_cs[index%tag_cs.length].tc}>{tag}</span>
        ))
      }
    
    </div>

    <main class="mt-16">
      <ul class="grid gap-5 lg:grid-cols-4 sm:grid-cols-2 md:grid-cols-2 max-w-4xl mx-auto">
        {
          posts.map((post) => (
            <li>
              <a href={"/blog/"+post.file.split("/").pop().split(".")[0]}>
                <div class="hover:drop-shadow-2xl group">
                  <div>
                    <img class="rounded-md group-hover:opacity-75"
                      src= "https://picsum.photos/600/400"  //{post.frontmatter.image}
                      alt="Thumbnail"
                      // width={400}
                      // format="avif"
                      // aspectRatio="16:9"
                      // class="w-full rounded-md"
                    />
                  </div>
                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-xs font-medium">
                      {post.frontmatter.category}
                    </span>

                    <h2 class="text-base font-semibold leading-snug tracking-tight mt-1 ">
                      {post.frontmatter.title}
                    </h2>

                    <div class="flex gap-2 mt-3 text-xs">
                      <span class="text-gray-400">
                        {post.frontmatter.author}
                      </span>
                      <span class="text-gray-400">• </span>
                      <time
                        class="text-gray-400"
                        datetime={post.frontmatter.publishDate}>
                        {getFormattedDate(post.frontmatter.publishDate)}
                      </time>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
